#db-sort-table th, #eu-countries td  {
  padding: 2px 5px;
}
#db-sort-table th {
  background-color: blue;
  color: #ffffff;
}
#db-sort-table tr:nth-child(even) {
  background-color: #cfcfcf;
}
